**/myenv
**/.env
/output/
tools/output/*.jpg
**/__pycache__
**/geolocator.h5
**/geolocator.keras
**/server/images/fixFileName
/server/images/replace.py
**/server/images/upload
**/__init__.py
**/server/fix
**/server/images
**/__init__.py
**/server/fix
**/server/images
**/tools