:root {
  --primary-color: #333333;
  --secondary-color: #f5f5f5b5;
  --background-color: #76ac6d;
  --font-family-primary: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-primary);
  background: linear-gradient(to bottom, var(--background-color), #ffffff);
}