.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #76ac6d;
  width: 100%;
  padding: 1%;
  height: min-content;
  box-sizing: border-box;
}

.headerContent {
  display: flex;
  align-items: center;
  margin-left: 14%; /* Add margin to the left */
}

.headerTextContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the start (left) */
}

.headerTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  font-weight: 500;
  color: #000000;
}

.headerSubtitle {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #ffffff;
  margin-top: 4px; /* Optional: Add some space between title and subtitle */
}

.headerImageContainer {
  display: flex;
  align-items: center;
  height: 100%;

  margin-right: 14%; /* Add margin to the right */
}

.headerImage {
  max-height: 75px; /* This is 75% of header height (80px) minus padding */
  width: auto;
  object-fit: contain;
}